body {
    background-color: #101010 !important;
    overflow-x: hidden;

}

main {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

header {
    background-color: #121212;
}

#navMenu {
    width: 100vw;
    display: flex;
    background-color: #121212;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    z-index: +100;
}

#navMenu .container {
    display: flex;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    z-index: +101;
}

.imgNavBar {
    margin: 20px;
}

.listaItens {
    display: flex;
    align-items: center;
    margin: 0px;
}

.listaItens li {
    list-style: none;
    color: white;
}

.listaItens li a {
    list-style: none;
    color: white;
    margin: 0px 10px;
}



#headerH1 {
    margin: 20px 0px;
    background-color: #1E1E1E;
}

.bgPadrao {

    background-color: #101010 !important;

}

.btnSair {
    cursor: pointer;
}

#menu {

    display: flex;
    flex-direction: column;
    height: fit-content;
}

#totensFuncionario {
    width: 45%;
    height: 150px;
    background-color: #CB1B29;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#panelDashboard {
    width: 95%;
    height: 150px;
    color: black;
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#panelFuncionario {
    width: 45%;
    height: 150px;
    background-color: #b3b3b3;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#relatorioFuncionario {
    width: 60%;
    height: 150px;
    background-color: #b3b3b3;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#criarRelatorios {
    width: 30%;
    height: 150px;
    background-color: #CB1B29;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#line1 {
    display: flex;
    justify-content: center;
}

#line1 a {
    text-decoration: none;
}

#line2 {
    display: flex;
    justify-content: center;
    margin: 0px 0px 60px 0px;
}

#contains {
    display: flex;

}