.header {
    background-color: #121212;

}

nav .navbar-nav li a {
    color: white !important;
    font-weight: bold;
}

#sec_01 {
    background: rgb(17, 17, 17);
    color: white;
}

#sec_01 .container {
    padding: 100px 10px;
}

#sec_02 {
    background: rgb(24, 24, 24);
    background: linear-gradient(90deg, rgba(24, 24, 24, 1) 0%, rgba(24, 24, 24, 1) 50%, rgba(17, 17, 17, 1) 50%);
    padding: 50px 0px;
}

.cardValores {
    border-radius: 6px !important;
    background-color: #1E1E1E !important;
    margin: 20px;
}

.cardValoresMiddles {
    border-radius: 6px !important;
    background-color: #CB1B29 !important;
    text-align: center;


}

.cardHeaderValores {
    border-radius: 6px 6px 0px 0px !important;
    background-color: #CB1B29 !important;
    text-align: center;

}

.cardHeaderValores h3 {
    margin: 0px;
}

.fontSizeCard {
    font-size: 1.1em;
}

#breathing-button {

    border: 1px solid #ffffff00;
    -webkit-animation: breathing 6s ease-in infinite normal;
    animation: breathing 6s ease-in infinite normal;

    font-size: 16px;
    background: #3cc8b4;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    text-align: center;
}


@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.linkHeader {
    display: flex;
    justify-content: end;
}

@media (min-width: 992px) {
    .linksHeader {
        display: none;
    }
}