@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: white;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .1px solid black;
}

 header .container{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#logo{
  width: 50px;
  margin: 0px 20px;
}
#logoLink{
  display: flex;
  justify-content: center;
  align-items: center; color: black;
  text-decoration: none; 
  margin: 10px 20px;
  font-size: 25px;
  letter-spacing: 1px ;
}
#navbarList{
  display: flex;
  flex-direction: row;
  list-style: none;   


}

#navbarList button{
 cursor: pointer;
 border: none;
 background-color: white;
 user-select:contain;
 margin: 20px;
 font-size: 17px;
}