/*Header*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {}

body::-webkit-scrollbar {
  display: none;


}



header {
  background-color: #121212;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

header .container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#logo {
  width: 200px;
  margin: 0px 20px;
}

#logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 10px 20px;
  font-size: 25px;
  letter-spacing: 1px;
}

#navbarList {
  display: flex;
  flex-direction: row;
  list-style: none;


}

#navbarList button,
#navbarList a {
  cursor: pointer;
  border: none;
  background-color: rgba(1, 14, 56, 0);
  color: white;
  user-select: contain;
  margin: 20px;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

#navbarList button:hover,
#navbarList a:hover {
  transition: .3s;
  color: #880a0a;
}

/*Header*/
/*Main*/
/*Main*/
/*Footer*/
footer {

  background-color: #121212;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-weight: 600;

}

/*Footer*/
/*Form Login*/
#btnCloseLogin {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 36vh;
  right: 5vw;
  user-select: none;

}

#btnCloseLogin img {

  width: 25px;
}


.formLogin {
  z-index: +99;
  background-color: rgba(0, 0, 0, 0.164);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;

}

.login {
  display: none;
  z-index: +99;
}



.formLogin .container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 20px;
  width: 300px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.formLogin .container h1 {
  margin: 10px 0px 30px 0px;
}

#inpEmail,
#inpSenha {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#loginBtn {
  background-color: #4CAF50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

#cadastroN {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  text-decoration: underline;
}


/*Form Login*/
/*Form Cadastro*/
#btnCloseCadastro {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 36vh;
  right: 5vw;
  user-select: none;

}

#btnCloseCadastro img {

  width: 25px;
}

.cadastro {
  display: none;
  z-index: +99;
}

.formCadastro {

  background-color: rgba(0, 0, 0, 0.164);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;

}

.formCadastro .container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 20px;
  width: 300px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.formCadastro .container h1 {
  margin: 10px 0px 30px 0px;
}

#nomeCadastro,
#inpEmailCadastro,
#inpSenhaCadastro,
#inpSenhaConfirmacao {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#cadastroBtn {
  background-color: #4CAF50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

#cadastroN {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

/*Form Cadastro*/